<section class="login">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #loginForm='ngForm' (ngSubmit)="submit(loginForm)">
      
        <mat-form-field>
            <input matInput 
            type="email" 
            placeholder="Email" 
            ngModel 
            name="email" 
            email 
            required
            #mail="ngModel">
            <mat-error *ngIf="mail.hasError('required')">Email must not be empty</mat-error>
            <mat-error *ngIf="!mail.hasError('required')">Enter valid Email</mat-error>
          </mat-form-field>
          
          <mat-form-field>
              <input matInput 
              type="password" 
              placeholder="Password" 
              ngModel 
              name="password" 
              required 
              minlength="7" 
              #pw="ngModel" 
              [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <!--<mat-error>Password should contain atleast 7 characters</mat-error>-->
              <mat-error>Enter valid Password</mat-error>
          </mat-form-field>
      
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" >Submit</button>
    </form>
  </section>