<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-mat="space-around center"
    fxLayoutGap="10px">
    <div fxFlex="5" *ngIf="selectedPizza">
    </div>
    <div fxFlex="40" *ngIf="selectedPizza">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{selectedPizza.name | uppercase }}</h3>
                </mat-card-title>

            </mat-card-header>
            <img mat-card-image src="{{BaseURL + selectedPizza.image}}" alt={{selectedPizza.name}}>
            <mat-card-content>
                <p>{{selectedPizza.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="5" *ngIf="selectedPizza">
    </div>
    <div fxFlex="40" *ngIf="selectedPizza">
        <form fxLayout="column" #addToCartForm='ngForm'>
            <mat-form-field>
                <input matInput type="number" placeholder="Quantity" ngModel name="quantity" required #quantity="ngModel">
                <mat-error *ngIf="quantity.hasError('required')">Quantity must not be empty</mat-error>
            </mat-form-field>


            <mat-form-field>
                <textarea matInput placeholder="Order Description" ngModel name="orderdescription" matTextareaAutosize matAutosizeMinRows="10"
                    matAutosizeMaxRows="10"></textarea>
            </mat-form-field>
        </form>

        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <button mat-raised-button>Back</button>
            <button (click)="addToCart(addToCartForm)" mat-raised-button color="primary" [disabled]="addToCartForm.invalid">Add To Cart</button>
        </div>
    </div>
</div>

