<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <mat-toolbar>
      <h3>Menu</h3>
      <div fxFlex fxLayoutAlign="end">
        <button mat-raised-button color="success" (click)="selectCat('Veg')">Veg</button>
        <button mat-raised-button color="warn" (click)="selectCat('Non-Veg')">Non-Veg</button>
      </div>
    </mat-toolbar>
  </div>
  <div fxFlex *ngIf="pizzas">
    <mat-grid-list [cols]="nbCols" rowHeight="200px">
      <mat-grid-tile *ngFor="let pizza of filterItemsOfType()" [routerLink]="['/pizza-detail', pizza._id]">
        <img height="200px" src="{{BaseURL + pizza.image}}" alt={{pizza.name}}>
        <mat-grid-tile-footer>
          <h1 mat-line> {{pizza.name| uppercase}} </h1>

        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="pizzas || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>