<!-- <div class="container"><table class="table table-bordered">
    <thead>
      <tr>
      <th>Select</th>
      <th> id </th>
      <th>Product Name</th>
      <th>Description</th>
      <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let pizza of pizzas" >
        
        <td>{{pizza.id}}
        </td>
        <td>
          <img class="img-responsive" src={{pizza.image}}>
          </td>
        <td>
        </td>
        <td>{{pizza.description}}
          </td>
          <td>{{pizza.price}}
            </td>
      </tr>
      <!--<tr>
        <td>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
  </div> -->
<!-- 
  <div class="container">    
      <div class="row">
        <div class="col-sm-3" *ngFor = "let pizza of pizzas" [routerLink]="['/pizza-detail', pizza.id]">
          <div class="panel panel-default">
            <div class="panel-heading">{{pizza.name}}</div>
            <div class="panel-body"><img src="{{BaseURL + pizza.image}}" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Rs. {{pizza.price}} </div>
          </div>
        </div>
      </div>
  </div> -->


  <div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
<div fxFlex>
    <mat-toolbar>
        <h3>Menu</h3>
       <div fxFlex fxLayoutAlign="end">
          <button mat-raised-button color="success" (click)="selectCat('Veg')">Veg</button>
          <button mat-raised-button color="warn" (click)="selectCat('Non-Veg')">Non-Veg</button>
        </div>
    </mat-toolbar>
</div>
  <div fxFlex *ngIf="pizzas">
<mat-grid-list cols="4" rowHeight="200px">
       <mat-grid-tile *ngFor="let pizza of filterItemsOfType()" [routerLink]="['/pizza-detail', pizza.id]">
     <img height="200px" src="{{BaseURL + pizza.image}}" alt={{pizza.name}}>
      <mat-grid-tile-footer>
    <h1 mat-line> {{pizza.name| uppercase}} </h1>
    
      </mat-grid-tile-footer>
    </mat-grid-tile>
    </mat-grid-list>
    </div>
        
  <div [hidden]="pizzas || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>