<div class="container"><table class="table table-bordered">
        <thead>
          <tr>
          <th>Select</th>
          <th> id </th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>quantity</th>
          <th>Order description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let pizza of cartItems" >
            <td> <button type="button" class="btn btn-primary" (click)="deleteitem($event, pizza)">Delete</button></td>
            <td>{{pizza.id}}
            </td>
            <td>{{pizza.name}}
            </td>
            <td>{{pizza.description}}
              </td>
              <td>{{pizza.price}}
                </td>
                <td>{{pizza.quantity}}
                </td>
                <td>{{pizza.orderdescription}}
                </td>
          </tr>
          <!--<tr>
            <td>
            </td>
            <td>
            </td>
          </tr>-->
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" (click)="placeorder($event, cartItems)">Place Order</button>
          </div>