<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <div fxFlex>
        
      </div>
 
    <div fxFlex fxFlexOffset="20px" class="form-size">
        <h3>Send us your Feedback</h3>
       
        <form class="example-form" #feedbackForm='ngForm' (ngSubmit)="submit(feedbackForm)">

            <mat-form-field class="half-width">
                <input matInput type="text" placeholder="First Name" ngModel name="firstname" required #name="ngModel">
                <mat-error *ngIf="name.hasError('required')">First Name is required</mat-error>
            </mat-form-field>
            
            <mat-form-field class="half-width">
                <input matInput type="text" placeholder="Last Name" ngModel name="lastname" required #name="ngModel">
                <mat-error *ngIf="name.hasError('required')">Last Name is required</mat-error>
            </mat-form-field>
        
        
            <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Email" ngModel name="email" required #name="ngModel">
                <mat-error *ngIf="name.hasError('required')">First Name is required</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea matInput placeholder="Your Feedback" ngModel name="userfeedback"  matTextareaAutosize matAutosizeMinRows="10"
                    matAutosizeMaxRows="10"></textarea>
            </mat-form-field>
        
            <mat-checkbox ngModel name="contactBack" color="primary">May we contact you?</mat-checkbox><br>
            <button type="submit" mat-raised-button color="primary" [disabled]="feedbackForm.invalid" >Submit</button>
            </form>
      </div>
</div>