<!-- 
{{cartItems | json}}

<div class="container"><table class="table table-bordered">
        <thead>
          <tr>
          <th>Select</th>
          <th> id </th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>quantity</th>
          <th>Order description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let cartItem of cartItems" >
            <td> <button type="button" class="btn btn-primary" (click)="deleteitem($event, cartItem)">Delete</button></td>
            <td>{{cartItem.id}}
            </td>
            <td>{{cartItem.name}}
            </td>
            <td>{{cartItem.description}}
              </td>
              <td>{{cartItem.price}}
                </td>
                <td>{{cartItem.quantity}}
                </td>
                <td>{{cartItem.orderdescription}}
                </td>
          </tr>
          <!--<tr>
            <td>
            </td>
            <td>
            </td>
          </tr>-->
        <!-- </tbody>
      </table>
      <button type="button" class="btn btn-primary" (click)="placeorder($event, cartItems)">Place Order</button>
          </div> --> 
          <!-- <div fxLayout="row">

              <mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="select">
                      <mat-header-cell *matHeaderCellDef>
                       Select
                      </mat-header-cell>
                      <mat-cell *matCellDef="let cartItem">
                          <button mat-raised-button (click)="deleteCartItem($event, cartItem)">Delete</button>
                      </mat-cell>
                    </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> cartItem Name </mat-header-cell>
                  <mat-cell *matCellDef="let cartItem"> {{cartItem.pizzas[0].name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="image">
                  <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                  <mat-cell *matCellDef="let cartItem"><mat-card class="example-card">
                     
           
                   
                      <img class="image-size"  src="{{BaseURL + cartItem.pizzas[0].image}}" alt={{cartItem.pizzas[0].name}}>
                  
                    </mat-card></mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                  <mat-cell *matCellDef="let cartItem"> {{cartItem.pizzas[0].description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                  <mat-cell *matCellDef="let cartItem"> {{cartItem.pizzas[0].price}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                    <mat-cell *matCellDef="let cartItem"> {{cartItem.pizzas[0].category}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
             -->
            <!-- Copyright 2018 Google Inc. All Rights Reserved.
                Use of this source code is governed by an MIT-style license that
                can be found in the LICENSE file at http://angular.io/license -->

                <button mat-raised-button (click)="placeorder()">Place Order</button>
                {{this.o|json}}