


<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     
    <div fxFlex fxFlexOffset="20px" class="form-size">
        
            <form class="example-form" #addPizzaForm='ngForm' (ngSubmit)="submit(addPizzaForm)">

                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Pizza Name" ngModel name="name" required #name="ngModel">
                        <mat-error *ngIf="name.hasError('required')">Pizza Name is required</mat-error>
                    </mat-form-field>
                
                
                
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Description" ngModel name="description" required matTextareaAutosize matAutosizeMinRows="10"
                            matAutosizeMaxRows="10"></textarea>
                        <mat-error *ngIf="name.hasError('required')">Description is required</mat-error>
                
                    </mat-form-field>
                
                    <mat-form-field class="half-width">
                        <input matInput type="number" placeholder="Price" ngModel name="price" required #price="ngModel">
                        <mat-error *ngIf="price.hasError('required')">Price is required</mat-error>
                
                    </mat-form-field>
                
                    <mat-form-field class="half-width">
                        <mat-select placeholder="Category" required [(ngModel)]="selectedValue" name="category">
                            <mat-option *ngFor="let ctgy of category" [value]="ctgy">
                                {{ ctgy }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="name.hasError('required')">Category must be select</mat-error>
                
                    </mat-form-field>
                
                
                    <button type="submit" mat-raised-button color="primary" [disabled]="addPizzaForm.invalid">Submit</button>
                </form>
      </div>
</div>